// ==================== Page Header ====================
.header{
    position: relative;
    .email, .tel{
        color: #333;
        margin-#{$right}: 20px;
        &:last-of-type{
            margin-#{$right}: 0;
        }
    }
    .tel{
         margin-#{$right}: 0;
    }
    .give-grey{
        background-color: #f5f5f5;
        font-size: 12px;
        padding: 10px 0;
        .container{
            display: flex;
        }
        .working-days{
            margin-#{$left}:auto;
        }
        .clr_main{
            margin-#{$right}: 5px;
        }
    }
    .logo-calls{
        
        margin: 15px 0;
        .logo{
            float: $left;
        }
        .calls{
            float: $right;
            display: flex;
            i{
                font-size: $navSize;
                line-height: 42px;
                border-#{$right}: 1px solid #f5f5f5;
                padding-#{$right}: 10px;
                //position: absolute;
                
                
            }
            p{
                margin: 0;
            }
            .items-wrapper:first-child{
                //.inner-text{
                //    padding-#{$right}: 95px;
                //}
            }
            .items-wrapper{
                display: flex;
                align-items: center;
                margin-#{$left}:90px;
                .inner-text{
                    padding-#{$left}: 15px;
                }
            }
        }
    }
    .navbar{
        border-top: 1px solid #f5f5f5;
        padding: .5rem 0rem;
        font-family: 'light-jose';
        flex-direction: row-reverse;
        li{
            &:not(:first-child){
                margin-#{$left}:15px;
            }
            &:not(:last-child){
                margin-#{$right}:15px;
            }
            a{
                font-size: $navSize;
                color: $darkGray;
                font-weight: bold;
                @include transition(color);
                &:hover{
                    color: $red;
                }
            }
        }
        .search-btn{
            position: absolute;
            button{
                background: transparent;
                &:focus{
                    box-shadow: none;
                }
            }
            .searchbox{
                position:relative;
                min-width: 30px;
                width:0%;
                height: 35px;
                float: $right;
                overflow:hidden;
                -webkit-transition: width 0.3s;
                -moz-transition: width 0.3s;
                -ms-transition: width 0.3s;
                -o-transition: width 0.3s;
                transition: width 0.3s;
                .form-search{
                    top: 0;
                    #{$right}: 0;
                    border: none;
                    outline: 0;
                    background: transparent;
                    width: 100%;
                    border-radius: 0;
                    height: 35px;
                    margin: 0;
                    padding-#{$left}: 20px;
                    padding-top: 0;
                    padding-#{$right}: 55px;
                    padding-bottom: 0;
                    font-size: $navSize;
                    color: $darkGray;
                }
                .icon-search, .btn-search{
                    width: 30px;
                    height: 35px;
                    border: 0;
                    display:block;
                    position:absolute;
                    top:0;
                    font-size: $navSize;
                    #{$right}: 0;
                    padding: 0;
                    margin: 0;
                    outline: 0;
                    line-height: 35px;
                    text-align: center;
                    cursor: pointer;
                    color: $darkGray;
                    background: transparent;
                }
            }
            
            .searchbox-open{
                width:100%;
                .form-search{
                    border-bottom: 1px solid #ced4da;
                    background-color: #fff;
                }
            } 
        }
    }
}
// ==================== Page Footer ====================

.footer{
    position: relative;
    &:before{
        content: " ";
        position: absolute;
        top: 0;
        #{$right}: 0;
        bottom: 0;
        #{$left}: 0;
        display: block;
        background-color: rgba(51,51,51,0.9);
    }
    .inner-wrapping{
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px 0;
        z-index: 3333;
        .lets-talk{
            position: relative;
            color: #fff;
            margin-bottom: 60px;
        }
        .form-group{
            display: flex;
            input.form-control{
                height: calc(2.25rem + 5px);
            }
            input,textarea{
                border: 1px solid $darkGray;
                border-radius: 0;
                color: #fff;
                &:focus{
                   box-shadow: 0 0 0 0.1rem rgba(0,0,0,.25)
                }
            }
            textarea{
                width: calc(100% - 40px);
                display: inline-block;
                resize: none;
            }
            .send-btn{
                //float: $right;
                width: 40px;
                //position: absolute;
                //#{$right}: 15px;
                //bottom: 2rem;
                //top: 0;
                height: calc(3 * 36.5px + 2 * 1rem);
                button{
                    background: $red;
                    width: 100%;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    span{
                        display: inline-block;
                        //width: 20px;
                        padding-top: $letter-spacing;
                        background: transparent;
                        //height: 100%;
                        color: #fff;
                        text-orientation: $text-orientation;
                        -ms-writing-mode: tb-lr;
                        -webkit-writing-mode: vertical-lr;
                        writing-mode: vertical-lr;
                        letter-spacing:$letter-spacing;
                        transform: rotate($rotate);
                    }
                }
            }
        }
        .footer-icons{
            color: #b3b3b3;
            margin-top: 40px;
            i{
                font-size: 20px;
            }
        }
    }
    .copy-right{
        position: relative;
        padding: 20px 0;
        p{
            color: #fff;
            margin: 0;
            font-size: $subTitleSize;
            a{
                &:hover{
                    color: $red;
                }
            }
        }
    }
}

