//================ INDEX PAGE ================
.page-content{
    .services{
        .carousel-control-next, .carousel-control-prev{
            width: 5%;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon{
            color:$red;
            font-size: 40px;
            background-image: none;
        }
        .large-img{
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .icons-wrapper{
            margin-top: -75px;
            padding: 25px 0;
            margin-bottom: 30px;
            position: relative;
            .inner-data:last-child{
                .icon-inner{
                    &:after{
                        content: "";
                        height: 60px;
                        background: #fff;
                        width: 2px;
                        position: absolute;
                        top: 20px;
                        #{$right}: 0px;
                    }
                }
            }
            .inner-data{
                .icon-inner{
                    &:before{
                        content: "";
                        height: 60px;
                        background: #fff;
                        width: 2px;
                        position: absolute;
                        top: 20px;
                        #{$left}: 0px;
                    }
                    img{
                        height: 50px;
                        display: block;
                        margin: 0 auto;
                        @include slow(transform);
                    }
                }
                .service-ttle{
                    padding: 15px 0;
                    h3{
                        font-size: $subTitleSize;
                        color: #1a2e59;
                        margin-bottom: 0;
                        @include slow(transform);
                    }
                }
                &:hover{
                    .icon-inner img{
                        @include scale(1.1, 1.1);
                    }
                }
            }
        }  
    }
    
    .about-company{
        .about-ttle{
            border-#{$left}: 20px solid $red;
            &:before{
                content: " ";
                height: 36px;
                width: 2px;
                background-color: #fff;
                position: absolute;
                #{$left}: 20px;
            }
            h2{
                padding-#{$left}: 20px;
                font-size: 30px;
                text-align: $left;
            }
        }
        .about-disc{
            font-size: $navSize;
            margin-top: 25px;
            p{
                text-align: $left;
            }
        }
    }
    .services2{
        background-size: cover;
        background-repeat: no-repeat;
        .top-ttle{
            margin: 60px 0;
            font-size: 36px;
        }
        .services-row{
            margin: 0 8.3333333%;
            .service1{
                border-top: 1px solid $darkGray;
                border-bottom: 1px solid $darkGray;
                margin-bottom: 50px;
                padding: 20px 0;
                .services-icon{
                    img{
                        height: 50px;
                    }
                }
                .services-ttle-disc{
                    h3{
                        padding: 15px 0;
                        color: #192d5b;
                        font-size: $subTitleSize;
                    }
                    p{
                        line-height: 24px;
                        overflow: hidden;
                        display: block;
                        height: 96px;
                    }
                }
            }
        }
        .worker{
            align-self: flex-end;
        }
    }
    .our-work{
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px 0;
        position: relative;
        .nav-tabs{
            border: none;
            margin: 30px;
            .nav-item{
                padding-#{$left}: 40px;
                .nav-link.active{
                    border: 1px solid $darkGray;
                    
                }
                .nav-link{
                    border: none;
                    font-size: $subTitleSize;
                    border-radius: 0;
                    color: $darkGray;
                    padding: 0px 13px;
                    padding-top: 4px;
                    @include slow (all);
                }
            }
        }
        .box1,.box2,.box4,.box5{
            height: 300px;
            margin: 0 -7px 15px -7px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:hover{
                .hidden-data{
                    opacity: 1;
                }
            }
            .hidden-data{
                margin-bottom: 15px;
                position: absolute;
                top: 0;
                bottom: 0;
                #{$right}: 7px;
                #{$left}: 7px;
                justify-content: center;
                align-items: center;
                background-color: rgba(0,0,0,0.5);
                color: #fff;
                opacity: 0;
                @include transition(opacity);
                .wrapper{
                    position: relative;
                    top: 40%;
                    margin: 0 auto;
                    padding: 0 10px;
                    a{
                        @include transition (all);
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .box3{
            height: 615px;
            margin: 0 -7px;
            background-position: center;
            &:hover{
                .hidden-data{
                    opacity: 1;
                }
            }
            .hidden-data{
                height: calc(100% - 15px);
                position: absolute;
                top: 0;
                bottom: 0;
                #{$right}: 7px;
                #{$left}: 7px;
                justify-content: center;
                align-items: center;
                background-color: rgba(0,0,0,0.5);
                color: #fff;
                opacity: 0;
                @include transition(opacity);
                .wrapper{
                    position: relative;
                    top: 40%;
                    margin: 0 auto;
                    a{
                        @include transition (all);
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
    }
    .our-partners{
        padding: 60px 0;
        .partners-ttle{
            margin-bottom: 60px;
        }
        img{
            filter: grayscale(100%);
            max-width: 70%;
        }
    }
}
//================ SERVICES PAGE ================
.bread{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    font-family: 'semi-jose';
    z-index: 333;
    .breadcrumb{
        background-color: rgba(0,0,0,0.8);
        align-items: center;
        padding: 30px 0;
        margin-bottom: 0;
        .breadcrumb-item{
            font-size: $navSize;
            &:before{
                color: $red;
                padding-#{$right}: 20px;
                padding-#{$left}: 10px;
                font-size: 20px;
            }
            a{
                color: #fff;
            }
        }
        .breadcrumb-item.active{
            font-size: 24px;
            color: #fff;
        }
    }
}

.page-content{
    .services-section{
        text-align: $left;
        margin: 60px 0 80px 0;
        .services-heading{
            font-size: 30px;
        }
        .services-desc{
            font-size: $subTitleSize;
            border-#{$left}: 3px solid #d9d9d9;
            padding: 30px 20px;
        }
    }
    .work-process{
        .process-heading{
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 30px;
            margin-bottom: 60px;
            font-size: 24px;
            position: relative;
            &:after{
                content: " ";
                height: 12px;
                width: 12px;
                position: absolute;
                bottom: -6px;
                background-color: #1c2f5a;
                #{$left}: 50%;
                border-radius: 50%;
            }
        }
        .service-wrapper:nth-child(1){
            .service1:nth-child(odd),.service1:nth-child(even){
                h3{
                    &:before{
                        //content: "\f111";
                        height: 25px;
                        width: 25px;
                        position: absolute;
                        bottom: 0px;
                        #{$right}: -65px;
                        border-radius: 50%;
                        z-index: 33;
                        border: 1px solid #d9d9d9;
                        color: #1c2f5a;
                        line-height: 24px;
                        font-size: 14px;
                        font-family: fontawesome;
                        text-align: center;
                    }
                }
            }
            .service1:nth-child(even){
                h3{
                    &:before{
                        #{$right}: -75px
                    }
                }
            }
        }
        .service-wrapper:last-child{
            .service1:nth-child(odd),.service1:nth-child(even){
                h3{
                    &:after{
                        //content: "\f111";
                        height: 25px;
                        width: 25px;
                        position: absolute;
                        bottom: 0px;
                        #{$left}: -21%;
                        border-radius: 50%;
                        z-index: 33;
                        border: 1px solid #d9d9d9;
                        color: #1c2f5a;
                        line-height: 24px;
                        font-size: 14px;
                        font-family: fontawesome;
                        text-align: center;
                    }
                }
            }
            .service1:nth-child(even){
                h3{
                    &:after{
                        #{$left}: -32%;
                    }
                }
            }
        }
        
        .service1{
            margin-bottom: 60px;
            .number{
                color: #d9d9d9;
                font-size: 36px;
                font-family: 'light-jose';
            }
            h3{
                font-size: 20px;
                font-family: 'semi-jose';
                margin: 20px 0;
                position: relative;
                
            }
        }
        .works{
            .inner-works{
                width: 100%;
                border: 1px solid #d9d9d9;
                border-radius: 50%;
                padding: 30px;
                position: relative;
                .inner-border{
                    border: 1px solid #d9d9d9;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    h1{
                        font-size: 55px;
                        color: #d9d9d9;
                        font-family: 'semi-jose';
                    }
                }
            }
        }
    }
//================ PROJECTS PAGE ================
    .new-tabs{
        .tab-content{
            .tab-pane{
                margin-top: 80px;
                .items-wrapper{
                    margin-bottom: 25px;
                    .tab-inner-img{
                        height: 240px;
                        background-size: cover;
                        position: relative;
                        background-repeat: no-repeat;
                        &:hover{
                            .hidden-data{
                                opacity: 1;
                            }
                        }
                        .hidden-data{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            #{$right}: 0;
                            #{$left}: 0;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0,0,0,0.5);
                            color: #fff;
                            opacity: 0;
                            @include transition(opacity);
                            .wrapper{
                                position: relative;
                                top: 40%;
                                margin: 0 auto;
                                padding: 10px;
                                a{
                                    @include transition (all);
                                    &:hover{
                                        color: #fff;
                                    } 
                                }
                            }
                        }
                    }
                    
                }
                
            }
        }
    }
    
//================ About PAGE ================ 
    .why-choose{
        text-align: $left;
        &:first-of-type{
            background: linear-gradient(to top, #f9f9f9 60px, transparent 60px);
            p{
                padding-bottom: 25px;
            }
        }
        .why-heading{
            font-size: 30px;
            font-family: 'semi-jose';
            border-bottom: 1px solid #d9d9d9;
            display: inline-block;
        }
        p{
            font-size: $subTitleSize;
            padding-top: 25px;
            margin-bottom: 0;
            line-height: 1.4;
            span.w{
                font-size: 36px;
            }
        }
        .img{
            // margin-top: -60px;
            text-align: center;
            transform: rotateY($rotate);
            display: flex;
            align-items: flex-end;
        }
    }
    .vision{
        text-align: $left;
        background-color: #f9f9f9;
        padding: 80px 0;
        margin-top: -60px;
    }
    .our-team{
        background-color: #f9f9f9;
        padding: 60px 0 30px 0;
        .heading-text{
            text-align: $left;
            h3{
                font-size: 30px;
                font-family: 'semi-jose'; 
                margin-bottom: 0;
            }
        }
        .grey{
            height: 250px;
            .box1{
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                border: 10px solid #d3d7de;
                border-radius: 50%;
                .inner-hover{
                    background-color: rgba(26,45,87,0.95);
                    width: 90%;
                    height: 90%;
                    border-radius: 50%;
                    margin-#{$left}: 5%;
                    margin-#{$right}: 5%;
                    margin-top: 5%;
                    display: none;
                    .d-flex{
                        list-style: none;
                        justify-content: center;
                        align-items: center;
                        padding: 0!important;
                        flex-wrap: wrap;
                        margin: 0;
                        li{
                            //padding-#{$left}: 33px;
                            flex-basis: 100%;
                            text-align: center;
                            a{
                                color: #fff;
                                margin-bottom: 10px;
                                display: block;
                            }
                            p{
                                margin: 0;
                                color: $red;
                            }
                        }
                    }  
                }
            }
        }
        .grey{
            @include transition (all);
            &:hover{
                .inner-hover{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .about-us{
        margin: 100px 0 60px 0;
        .grey-shape{
            background-color: #f9f9f9;
            .left-img{
                margin-top: -45px;
                text-align: $left;
            }
            .left-texts{
                padding-top: 60px;
                padding-#{$right}: 20px;
                padding-bottom: 40px;
                h3{
                    font-size: 30px;
                    font-family: 'semi-jose';
                    margin-bottom: 0;
                }
                p{
                    margin-top: 30px;
                    margin-bottom: 0;
                    font-size: 30px;
                    color: $red;
                }
                .img-wrapp{
                    margin: 25px 0;
                    min-height: 50px;
                }
            }
        }
    }
    .news-letter{
        margin-bottom: 60px;
        text-align: $left;
        .newsletter-heading{
            font-size: 30px;
            font-family: 'semi-jose';
            &:after{
                content: '';
                width: 70px;
                height: 2px;
                background-color: #3f50a5;
                display: block;
                margin-top: 30px;
            }
        }
        p{
            margin: 40px 0 80px 0;
        }
        .sub-input{
            position: relative;
            width: calc(100% - 10%);
            display: inline-block;
            input{
                border-#{$left}: 0;
                border-#{$right}: 2px solid #7f7f7f;
                border-top:0;
                border-bottom: 4px solid #7f7f7f;
                border-radius: 0;
                height: 60px;
                padding-#{$left}: 60px;
                font-size: 16px;
                &:focus{
                    box-shadow: none;
                }
            }
            i{
                position: absolute;
                #{$left}: 20px;
                top: 20%;
                color: #7f7f7f;
                font-size: 24px;
            }
            
        }
        .sub-button{
            width: 10%;
            display: inline-block;
            margin-#{$left}: -60px;
            z-index: 33333;
            position: absolute;
            button{
                background: transparent;
                border: none;
                font-size: 35px;
                cursor: pointer;
                margin-top: 10px;
                transform: rotateY($rotate);
            }
        }
        .get-in{
            .inner-wrapper{
                background-color: #898989;
                padding: 20px 30px 50px 30px;
                color: #fff;
            }
            h2{
                font-family: 'semi-jose';
                font-size: 30px;
                margin-bottom: 30px;
                margin-top: 0;
            }
            .getin-btn{
                margin-top: 15px;
                a{
                    display: block;
                    cursor: pointer;
                    color: #fff;
                    border: 2px solid #fff;
                    padding: 20px 35px;
                    border-radius: 40px;
                }
            }
        }
    }
    
//================ About PAGE ================ 
    
    .the-partners{
        margin: 60px 0;
        .partners-wrapper{
            margin-bottom: 35px;
        }
    }
    
//================ PROJECT-DETAILS PAGE ================ 
    
    .project-details{
        margin-bottom: 60px;
        padding: 0;
        #Project-Carousel{
            .carousel-item{
                height: 500px;
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 40px;
                overflow: hidden;
                img{
                    position: relative;
                    top:50%;
                    @include translate(0,-50%);
                }
            }
        }
        .project-description{
            text-align: $left;
            .project-name{
                margin: 0 0 30px 0;
                //width: 42%;
                border-bottom: 1px solid #d9d9d9;
                font-size: 36px;
            }
            p{
                font-size: $navSize;
                margin-bottom: 25px;
            }
            .share-project{
                font-size: $subTitleSize;
                .share-social{
                    list-style: none;
                    padding-#{$left}: 60px;
                    li{
                        padding-#{$right}: 40px;
                        a{
                            color: #909090;
                        }
                    }
                }
            }
        }
        .bg-shape{
            ul{
                background-color: #f3f3f3;
                padding: 30px 20px;
                font-size: $subTitleSize;
                list-style: none;
                margin-top: 45px;
                li{
                    padding-bottom: 40px;
                    font-size: 15px;
                    display: flex;
                    span{
                        color: $darkGray;
                        padding-#{$left}: 15px;
                    }
                    a{
                        color: $darkGray;
                    }
                }
                li:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
    
    
//================ BLOG PAGE ================ 

    .blogs{
        .the-blog{
            margin: 60px 0 0  0;
            .the-img{
                background-size: cover;
                background-repeat: no-repeat;
                height: 320px;
                display: flex;
                justify-content: end;
                align-items: flex-end;
                .date{
                    background-color: $red;
                    color: #fff;
                    padding: 8px 20px;
                    font-size: 15px;
                    text-align: center;
                    span{
                        display: block;
                        font-size: 24px;
                    }
                }
            }
            .inner-content{
                text-align: $left;
                .blog-ttle{
                    padding: 20px 0;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #d9d9d9;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    + p {
                        height: 60px;
                        line-height: 20px;
                        overflow: hidden;
                    }
                }
            } 
        }
        .page-pagination{
            margin: 60px 0;
            .pagination{
                justify-content: center;
               .page-item{
                   margin-#{$left}: 15px;
                    .page-link{
                        background-color: $darkGray;
                        color: #fff;
                        border-radius: 0;
                        padding: 10px 15px;
                        border: none;
                    }
                   .next,prev{
                       width: 80px;
                       padding: 10px 0 10px 0; 
                   }
                   .next{
                       background-color: $red;
                   }
                }
                .page-item.active{
                    a{
                        border: none;
                        background-color: $red;
                    }
               }
            } 
        }
    }
    
//================ BLOG-DETAILS PAGE ================ 
    
    .blog-details{
        .blog-details-img{
            margin: 30px 0;
        }
    }
    .contact-page{
        &:before{
            display: none;
        }
        .footer-icons{
            color: $darkGray;
            padding-bottom: 60px;
        }
        .inner-wrapping{
            padding-bottom: 30px;
            padding-top: 40px;
            .your-info{
                margin-bottom: 50px;
                h3{
                    font-size: 24px;
                    font-family: 'semi-jose';
                    margin-bottom: 0;
                }
                p{
                    font-size: $navSize;
                }
            }
            .form-control{
                border: none;
                background-color: #f3f3f3;
            } 
        }
        .social-media{
            padding: 30px 0;
            ul{
                justify-content: center;
                list-style: none;
                padding: 0!important;
                align-content: center;
                margin-bottom: 0;
                li{
                    a{
                        color: #909090;
                        padding-#{$left}: 40px;
                        font-size: $navSize;
                    }
                }
            }
        }
    }
    
//================ CAREERS PAGE ================ 
    
    .careers{
        padding-bottom: 30px;
        .nav-tabs{
            padding: 0;
            margin-#{$left}: 0;
            align-items: center;
            li:first-child{
                padding-#{$left}: 0;
            }
            li.nav-item{
                a{
                    font-size: 20px;
                    color: #ababab!important;
                    padding:0 5px 10px 5px!important;
                    &:active,&:hover{
                        color: $red;
                    }
                }  
            }
            li{
                border: none;
                .nav-link.active{
                    border-top: none!important;
                    border-right: none!important;
                    border-left: none!important;
                    color: $red!important;
                    border-bottom: 1px solid $red!important;
                }
            }
        }
        .tab-content{
            margin-top: 70px;
           .mywrapper{
                border-bottom: 1px solid #d3d3d3;
                padding-bottom: 30px;
                margin-bottom: 30px;
               text-align: $left;
               .careers-ttle{
                   h4{
                       font-size: 24px;
                       margin: 0;
                       display: flex;
                       &:before{
                           content: " * ";
                           display: inline-block;
                           padding-#{$right}: 30px;
                           color: $red;
                           position: relative;
                           top: 10px;
                           font-size: 30px;
                       }
                   }
               }
               .careers-text{
                   p{
                       margin: 0;
                       font-size: 18px;
                   }
               }
               .careers-apply{
                   a{
                       color: #fff;
                       padding: 15px 20px;
                   }
               }
            }
            .mywrapper:last-child{
                border: none;
                margin-bottom: 0;
            }
        }
    }
    
//================ CAREERS PAGE ================
    
    .job-description{
        .requirement{
            margin-bottom: 50px;
            text-align: $left;
            span{
                border-bottom: 1px solid #d3d3d3;
                padding-bottom: 10px;
                
            }
        }
        .req-list{
            padding: 0px!important;
            margin-bottom: 30px;
            list-style: none;
            li{
                font-size: 18px;
                margin-bottom: 20px;
                &:before{
                    content: " * ";
                   display: inline-block;
                   padding-#{$right}: 30px;
                   color: $red;
                   position: relative;
                   top: 10px;
                   font-size: 30px;
                }
            }
        }
        .apply-now-form{
            .form-control{
                height: 60px;
                background-color: #f3f3f3;
                border-radius: 0;
                border: none;
            }
            .upload-apply{
                .upload{
                    img{
                        top: 10px;
                        #{$left}:0;
                        cursor: pointer;
                    }
                    input.form-control-file{
                        opacity: 0;
                        z-index: 33;
                        width: 130px;
                    }
                    label{
                        &:before{
                            content: "\f0c8";
                            position: absolute;
                            font-family: FontAwesome;
                            #{$left}: 0;
                            font-size: 20px;
                            color: #f3f3f3;
                        }
                    }
                    input.form-check-input{
                        display: none;
                        &:checked{
                            
                        }
                    }
                    input.form-check-input:checked + label:before{
                        content: '\f14a';
                        color: $red;
                    }
                }
                .apply-btn{
                    margin-top: 40px;
                    margin-#{$left}: -15px;
                    button{
                        padding: 10px 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}