/*-------------------------Special-Container-----------------------------*/
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1200px;
  }
}

/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1400px;
  }
}

/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
  /*--------------------------------------------------------------------*/
  .animated-img-wrapp{
    display: block;
  }
  .main-img-wrapp{
    display: none;
  }
}

/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1600px;
  }
}

/* X-Large Devices, small desktop
----------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  /*--------------------------------------------------------------------*/

}
/*----------------------------------------------------------------------*/
@media only screen and (max-height: 700px) {
  /*--------------------------------------------------------------------*/
  .animated-img-wrapp{
    display: block;
  }
  .main-img-wrapp{
    display: none;
  }
  .carousel .carousel-inner .carousel-item .animation-img{
    &.guy-img{
      top: 20%;
      right: 10%;
      width: 14%;
    }
    &.dollar-01{
      top: 39%;
      right: 19%;
      width: 1.1%;
    }
    &.dollar-02{
      top: 39.5%;
      right: 11.5%;
      width: 0.9%;
    }
    &.cargo-man{
      top: 65%;
      right: 18%;
      width: 15%;
    }
    &.like-bg{
      top: 62.5%;
      left: 18.8%;
      width: 3%;
    }
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .caption-container>*{
    margin-bottom: 20px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption h5{
    font-size: 40px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption p{
    font-size: 14px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption button.btn{
    font-size: 14px;
    padding: 10px 30px;
  }
}


/* Large Devices, Wide Screens
----------------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
  /*--------------------------------------------------------------------*/
  .header .navbar li {
    padding-#{$right}: 20px;
  }
  .page-content .about-company .about-ttle h2 {
    font-size: 26px;
  }
  .page-content .project-details .project-description .project-name {
    margin-top: 20px;
    font-size: 30px;
  }
  .page-content .services-section .services-heading {
    font-size: 25px;
  }
  .page-content .work-process .works .inner-works .inner-border {
    display: flex;
    align-items: flex-end;
  }
  .page-content .work-process .works .inner-works,
  .page-content .work-process .works .inner-works .inner-border {
    border: none;
  }
  .page-content .work-process .service-wrapper:last-child
  .service1:nth-child(odd)
  h3:after, .page-content .work-process .service-wrapper:last-child
  .service1:nth-child(even) h3:after,
  .page-content .work-process .service-wrapper:nth-child(1)
  .service1:nth-child(odd) h3:before, .page-content .work-process .service-wrapper:nth-child(1)
  .service1:nth-child(even) h3:before {
    display: none;
  }
  //.page-content .our-team .grey .box1 .inner-hover .d-flex li{
  //    padding-#{$left}: 25px;
  //}
  .footer .inner-wrapping .form-group textarea {
    width: 100%;
  }
  .header .navbar li:not(:last-child), .header .navbar li:not(:first-child) {
    margin: 0;
  }
  .page-content .careers .tab-content .mywrapper .careers-ttle h4:before {
    top: 0;
  }
  .page-content .careers .tab-content .mywrapper .careers-ttle h4 {
    font-size: 20px;
  }
  .page-content .careers .tab-content .mywrapper .careers-text p {
    font-size: 16px;
  }
  .page-content .our-team .grey {
    margin-bottom: 30px;
  }
  .page-content .services .icons-wrapper .inner-data .service-ttle h3 {
    font-size: 16px;
  }
  .page-content .news-letter .get-in h2{
    font-size: 24px;
  }
}

/* Medium Devices, Desktops
----------------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  /*--------------------------------------------------------------------*/
  h1, .h1 {
    font-size: 30px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  .header {
    .navbar {
      padding: 1rem 0rem;
      justify-content: flex-end;
      text-align: $left;
      flex-direction: row;
      .search-btn {
        width: calc(100% - 61px);
        margin-right: 15px;
        position: static;
        .searchbox {
          width: 100%;
          border-bottom: 1px #ccc solid;
        }
      }
      li {
        padding-#{$right}: 0 !important;
        padding-bottom: 10px;
      }
      .navbar-toggler {
        border-color: #d9d9d9;
        border-radius: 0;
        padding: 1px 6px;
        .navbar-toggler-icon {
          color: $red;
          font-size: 21px;
          line-height: 33px;
        }
      }
    }
  }
  .page-content {
    .our-work .hidden-data {
      opacity: 1 !important;
    }
    .about-company .about-ttle h2 {
      font-size: 20px;
      letter-spacing: 3px;
    }
    .p-style {
      font-size: 14px;
      font-weight: bold;
    }
    .our-work .nav-tabs {
      margin: 30px 0;
    }
    .our-work .nav-tabs .nav-item {
      padding-#{$left}: 0px;
    }
    .services2 .top-ttle {
      margin: 30px 0;
    }
    .our-partners, .page-content .our-work, .footer .inner-wrapping {
      padding: 30px 0;
    }

  }
  .footer .inner-wrapping .lets-talk, .page-content .our-partners .partners-ttle {
    margin-bottom: 30px;
  }
  .footer .copy-right p {
    font-size: 14px;
  }
  .page-content .our-work .box1,
  .page-content .our-work .box2,
  .page-content .our-work .box4,
  .page-content .our-work .box5,
  .page-content .our-work .box3 {
    height: 200px;
  }
  .project-details {
    .bg-shape {
      flex: 0 0 100%;
      max-width: 100%;

    }
  }
  .page-content .project-details .project-description .project-name {
    font-size: 26px;
  }
  .page-content .services-section .services-heading {
    font-size: 20px;
  }
  .page-content .services-section .services-desc {
    font-size: 14px;
    padding: 10px 20px;
  }
  .page-content .services-section {
    margin: 40px 0;
  }
  .page-content .blogs .the-blog {
    margin: 30px 0 0 0;
  }
  .page-content .blogs .the-blog .inner-content .blog-ttle {
    font-size: 18px;
  }
  .page-content .blogs .page-pagination {
    margin: 30px 0;
  }
  .page-content .new-tabs .tab-content .tab-pane {
    margin-top: 50px;
  }
  .page-content .why-choose .img {
    margin-top: 0;
    text-align: center;
  }
  .page-content .why-choose .why-heading,
  .page-content .our-team .heading-text h3,
  .page-content .about-us .grey-shape .left-texts h3,
  .page-content .news-letter .newsletter-heading {
    font-size: 24px;
  }
  .page-content .news-letter .get-in h2 {
    font-size: 20px;
  }
  .page-content .why-choose p span.w {
    font-size: 30px;
  }
  .page-content .why-choose p {
    font-size: 16px;
  }
  .page-content .about-us .grey-shape .left-texts .text-wrapp h5 {
    font-size: 14px;
  }
  .page-content .news-letter .get-in .inner-wrapper {
    padding: 20px;
  }
  .page-content .news-letter .get-in .getin-btn a {
    padding: 8px 20px;
    display: block;
  }
  //.page-content .our-team .grey .box1 .inner-hover .d-flex li{
  //    padding-#{$left}: 15px;
  //}
  .page-content .our-team .grey {
    height: 180px;
  }
  .bread .breadcrumb {
    padding: 20px 0;
  }
  .navbar {
    li {
      padding-#{$right}: 15px !important;
      &:not(:first-child) {
        margin-#{$left}: 0 !important;
      }
      &:not(:last-child) {
        margin-#{$right}: 0 !important;
      }
    }
  }
  .header .navbar .search-btn .searchbox .icon-search,
  .header .navbar .search-btn .searchbox .btn-search {
    padding-#{$right}: 10px;
  }
  .page-content .careers .tab-content .mywrapper .careers-ttle h4 {
    font-size: 17px;
  }
  .page-content .careers .tab-content .mywrapper .careers-ttle h4:before {
    padding-#{$right}: 10px;
  }
  .page-content .careers .tab-content .mywrapper .careers-apply a {
    //padding: 15px 5px;
  }
  .our-work.careers .nav-tabs .nav-item {
    padding-#{$right}: 15px;
  }
  .page-content .job-description .req-list li {
    display: flex;
  }
  .page-content .job-description .req-list li:before {
    top: 0;
  }
  .page-content .services2 .services-row .service1 .services-ttle-disc h3 {
    font-size: 16px;
  }
  .page-content .our-work .hidden-data .wrapper {
    padding: 0 10px;
    h4{
      font-size: 14px!important;
    }
  }
  .page-content .services2 .services-row {
    margin: 0 6%;
  }
  .page-content .our-work .box3{
    height: 415px;
  }
  .page-content .project-details #Project-Carousel .carousel-item {
    height: 450px;
  }
  .header .logo-calls .logo{
    float: none;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
  }
  .header .logo-calls .calls{
    display: flex;
    justify-content: space-between;
    float: none;
    .items-wrapper{
      display: flex;
      align-items: center;
      margin-#{$left}: 0;
    }
  }
  .page-content .news-letter .get-in h2{
    font-size: 24px;
  }
}

/*Small Devices, Tablets
----------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  /*--------------------------------------------------------------------*/
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  .header .give-grey {
    padding: 10px 0;
  }
  .ttle-style,
  .page-content .services2 .top-ttle,
  .page-content .our-partners .partners-ttle,
  .footer .inner-wrapping .lets-talk {
    font-size: 24px;
  }
  .page-content .why-choose {
    .img{
      display: none;
    }
    &:first-of-type{
      background: linear-gradient(to top, #f9f9f9 30px, transparent 60px);
    }
  }
  .email, .working-days {
    float: none !important;
    text-transform: lowercase !important;
  }
  .header .logo-calls .calls .items-wrapper:first-child .inner-text {
    padding-#{$right}: 20px;
  }
  .page-content .services .icons-wrapper .inner-data .icon-inner:before,
  .page-content .services .icons-wrapper .inner-data:last-child .icon-inner:after {
    display: none;

  }
  .box1, .box2, .box3, .box4, .box5 {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-content .services2 .top-ttle {
    margin: 40px 0;
  }
  .page-content .services2 .services-row .service1 {
    margin-bottom: 20px;
    padding: 0;
  }
  .services2 .col-md-4 {
    img {
      display: none;
    }
  }
  .page-content .our-work .nav-tabs .nav-item {
    margin-bottom: 15px;
  }
  .page-content .our-partners {
    .justify-content-center {
      .col-md-2 {
        margin-bottom: 15px;
        text-align: center;
      }
    }
  }
  .page-content .our-work .nav-tabs .nav-item .nav-link,
  .page-content .services .icons-wrapper .inner-data .service-ttle h3 {
    font-size: 14px;
    padding: 0 10px;
  }
  .page-content .contact-page .inner-wrapping .your-info h3, .bread .breadcrumb .breadcrumb-item.active {
    font-size: 18px;
  }
  .page-content .contact-page .social-media {
    padding: 20px 0;
  }
  .bread .breadcrumb .breadcrumb-item {
    font-size: 14px;
  }
  .page-content .project-details #Project-Carousel .carousel-item img {
    height: 300px;
  }
  .page-content .project-details .project-description .project-name {
    width: 65%;
  }
  .page-content .project-details .project-description .share-project .share-social li {
    padding-#{$right}: 20px;
  }
  .page-content .the-partners .partners-wrapper .col-md-3 {
    margin-bottom: 15px;
    text-align: center;
  }
  .page-content .the-partners .partners-wrapper {
    margin-bottom: 0;
  }
  .page-content .work-process .works {
    display: none;
  }
  .page-content .work-process .service1 {
    .services-ttle-disc .text-right {
      text-align: $left !important;
    }
  }
  .page-content .work-process .service1 {
    margin-bottom: 30px;
  }
  .page-content .blogs .page-pagination {
    margin: 30px 0 15px 0;
  }
  .page-content .blogs .page-pagination .pagination {
    display: inline-block;
    .page-item {
      float: $left;
      margin-bottom: 15px;
    }
  }
  .page-content .new-tabs .tab-content .tab-pane {
    margin-top: 0;
  }
  .page-content .new-tabs .tab-content .tab-pane .items-wrapper .tab-inner-img {
    margin-bottom: 15px;
  }
  .page-content .new-tabs .tab-content .tab-pane .items-wrapper {
    margin-bottom: 0;
  }
  .news-letter form {
    text-align: center;
    margin-bottom: 15px;
  }
  .page-content .news-letter .get-in .getin-btn a {
    display: inline-block;
  }
  //.page-content .our-team .grey .box1 .inner-hover .d-flex li{
  //    padding-#{$left}: 30px;
  //}
  .page-content .careers .tab-content .mywrapper .careers-apply {
    margin-top: 30px;
  }
  .page-content .careers .tab-content .mywrapper {
    justify-content: flex-end;
  }
  .footer .inner-wrapping .form-group .send-btn {
    //width: 43px;
  }
  .page-content .job-description .req-list li {
    font-size: 16px;
  }
  .page-content .job-description .req-list li:before {
    padding-#{$right}: 10px;
  }
  .page-content .services2 {
    padding-bottom: 40px;
    .services-row {
      > div {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
  .page-content .services2 .services-row .service1 .services-ttle-disc p{
    height: auto;
  }
  //.header .logo-calls{
  //  display: flex;
  //}
  .page-content:not(.main-content){
    >section{
      padding: 30px;
    }
  }
}

/*  Special Media
----------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /*--------------------------------------------------------------------*/
  .page-content .our-work .box3{
    height: 200px;
    .hidden-data{
      height: 100%;
    }
  }
}
/*  Special Media
----------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /*--------------------------------------------------------------------*/
  .header .logo-calls{
    .calls{
      display: block;
    }
  }
  .header .logo-calls .calls .items-wrapper{
    margin: 0;
  }
  .header .logo-calls .calls{
    margin-#{$left}: 40px;
  }
  .header .logo-calls{
    justify-content: space-between;
  }
}
/*  Special Media
----------------------------------------------------------------------*/
@media only screen and (max-width: 575px) {
  /*--------------------------------------------------------------------*/
  .page-content .our-team .grey {
    height: auto;
    //margin: 0 20% 15px 20%;
  }
}

/*  Special Media
----------------------------------------------------------------------*/
@media only screen and (max-width: 520px) {
  /*--------------------------------------------------------------------*/
  .header .logo-calls .logo {
    margin-bottom: 15px;
  }
  .header .logo-calls .logo,
  .header .logo-calls .calls {
    float: none;
    //text-align: center;
    margin-#{$left}: 0;

  }
  .header .logo-calls .calls i {
    float: $left;
    position: static;
  }
  .footer .inner-wrapping .form-group textarea {
    width: 100%;
  }
  //.footer .inner-wrapping .form-group .send-btn {
  //  width: 100%;
  //  margin-top: 15px;
  //  position: static;
  //  background: transparent;
  //  button {
  //    background-color: $red;
  //    padding: 6px 20px;
  //    span {
  //      writing-mode: horizontal-tb;
  //      margin-#{$left}: 0;
  //      letter-spacing: 7px;
  //    }
  //  }
  //}









  //.footer .inner-wrapping .form-group .send-btn button span {
  //  width: auto;
  //  padding-top: 0;
  //}

  .header .give-grey .container{
    text-align: $left;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header .working-days{
    width: 100%;
  }
  .header .logo-calls .calls{
  }
}

/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /*--------------------------------------------------------------------*/
  .header .logo-calls .calls .items-wrapper {
    margin-bottom: 15px;
  }
  .page-content .services .icons-wrapper {
    margin-top: 0 !important;
  }
  .bread .breadcrumb .breadcrumb-item.active {
    font-size: 16px;
  }
  .bread .breadcrumb .breadcrumb-item   {
    font-size: 12px;
  }
  .page-content .project-details .project-description .share-project .share-social {
    display: block !important;
    padding-#{$left}: 15px;
    li {
      float: $left;
      padding-#{$right}: 15px;
    }
  }
  .page-content .project-details #Project-Carousel .carousel-item img {
    height: 250px;
  }
  .page-content .project-details .project-description .project-name {
    font-size: 22px;
    width: 60%;
  }
  //.page-content .our-team .grey .box1 .inner-hover .d-flex li{
  //    padding-#{$left}: 20px;
  //}
  .header .logo-calls {
    display: block;
  }
  .header .logo-calls .logo {
    display: flex;
    justify-content: center;
  }
  .header .logo-calls .calls i {
    line-height: normal;
  }
  //.footer .inner-wrapping .form-group .send-btn button span{
  //  letter-spacing: 0;
  //}
  .page-content:not(.main-content) {
    > section {
      padding: 15px;
    }
  }
}


///*  Extra Small Devices, Phones
//----------------------------------------------------------------------*/
//@media only screen and (max-width: 320px) {
//  /*--------------------------------------------------------------------*/
//}
//




