@import "_variables";
@import "_mixins";
@import "_partials";
//@import "_grid";
@import "_animation";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";







///////////////////////////////////////////////

/* english fonts */
// section heading
//body & titles
/*
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
}
*/
@font-face {
    font-family: 'semi-jose';
    src: url('../fonts/JosefinSans-SemiBold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'light-jose';
    src: url('../fonts/JosefinSans-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'regular-jose';
    src: url('../fonts/JosefinSans-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'regu-robo';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
}

/* Arabic fonts */
@font-face {
    font-family: 'DroidKufi';
    src: url('../fonts/DroidKufi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BalooBhaijaan';
    src: url('../fonts/BalooBhaijaan-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}